

.user-item-img{
  max-height:100px;
  max-width: 150px;
  border-radius: 0;
  overflow: hidden;
}


/* Dashboard.jade */
.home-row{
  height: 500px;
}

.home-left{
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
}

.home-right{
  height:100%;
  border: 1px solid black;
  overflow: scroll;
}


/* Dashboard_list.jade */

.ind-item-cards{
}

img.user-item-img {
  width: 100%;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.ind-item-cards:hover img.user-item-img {

}

/* User Profile and Account Page */

.user-profile{

}

.user-profile-img-col{
  padding:20px 0 0 0;
}

.user-profile-img{
  border: 3px solid #f25d42;
  width: 100px;
  border-radius: 50%;
}

.user-items-row{
  padding-top: 20px;
  border:1px solid black;
}

.highlight{
  background-color: red;
}

/* Login Page */
.row#login{
  color:#adadad;
}

.panel-default>.panel-heading,
.panel-default>.panel-body {
  color:#adadad;
  background-color: #4F4F4F;
  border-color: #adadad;
}

.panel-default {
border-color:  #adadad;
}

input.btn.btn-lg.btn-primary.btn-block {
  color:#adadad;
  background-color: #4F4F4F;
  border-color: #adadad;
}

span.input-group-addon {
  color:#adadad;
  background-color: #4F4F4F;
}

#logout-btn {
  background-color: #4F4F4F;
  border: none;
}

.logoutbutton {
  background: transparent;
}
.logoutbutton:hover {
  color: red;
}

#logform * {
  display: block;
}
