h1 {{url}}

.col-xs-4
  form(id='userForm')
    .form-group(ng-show='url === "Register"')
      label Name
      input(type='text', name='name', ng-model="user.name", autofocus, required)
    .form-group
      label Email
      input(type='email', name='email', ng-model="user.email", required)
    .form-group(ng-show='url === "Register"')
      label Picture
      input(type='url', name='picture', ng-model="user.picture", required, placeholder="http://...")
    .form-group(ng-show='url === "Register"')
      label Password
      input(type='password', name='password1' ng-model="user.password1", required)
    .form-group(ng-show='url === "Register"')
      label Confirm Password
      input(type='password', name='password2', ng-model="user.password2", required)
    .form-group(ng-show='url === "Login"')
      label Password
      input(type='password', name='password', ng-model="user.password")
    .form-group
      button.btn.btn-default(ng-click='submit(user)') {{url}}
