h1 Items for Fleas
ul
  #userItems(ng-repeat='item in userItems | filter: "!"+user._id')
    li {{item.name}}
    li {{item.year}}
    li {{item.cost}}
    li: img.user-item-img(src='{{item.image}}')
