.row.user-profile
  .row.text-center
    h3 Welcome {{user.name}}!
  .col-xs-6.text-center.user-profile-img-col
    img.user-profile-img(src='{{user.picture}}')
  .col.xs-6.text-left
    i.fa.fa-plus.fa-4x(type='button', ng-click='addItem()')

.row.user-items-row(ng-repeat='item in userItems | filter: user._id', id='{{item._id}}')
  .col-xs-4
    img.user-item-img(src='{{item.image}}')
  .col-xs-7
    h4.item-title {{item.name}}
    h5.item-year Year: {{item.year}}
    h5.item-cost $ {{item.cost}}
    h5(ng-repeat='t in item1.tags') Tags: {{t}}
    .toggle-canSwap
      i.fa.fa-unlock.fa-2x(ng-click='canSwap(item)', ng-show='item.canSwap')
      i.fa.fa-lock.fa-2x(ng-click='canSwap(item)', ng-show='!item.canSwap')
    i.fa.fa-exclamation-triangle.fa-2x(ng-show='item.pending.length > 0', ng-click='showPendingTrades(item)')
    i.fa.fa-trash-o.fa-2x(ng-click='deleteItem(item)')
