.row.user-profile
  .col-xs-12.text-center.user-profile-img-col
    img.user-profile-img(src='{{user.picture}}')
  .col.xs-12.text-center
    #user-name {{user.name}}
    #user-email {{user.email}}
    
button.btn.btn-default(type='button', ng-click='addItem()'): i.fa.fa-plus

.row.user-items-row(ng-repeat='item in userItems | filter: user._id', id='{{item._id}}')
  .col-xs-4
    img.user-item-img(src='{{item.image}}')
  .col-xs-7
    ul 
      li.itemName {{item.name}}
      li Year: {{item.year}}
      li ${{item.cost}}
    .toggle-canSwap
      button.btn.btn-default(ng-click='canSwap(item)', ng-show='item.canSwap') Unlocked
      button.btn.btn-default(ng-click='canSwap(item)', ng-show='!item.canSwap') Locked
    button.btn.btn-default(ng-show='item.pending.length > 0', ng-click='showPendingTrades(item)') Pending 
    Trades
    button.btn.btn-danger(ng-click='deleteItem(item)') x
