h1 Items for Fleas
.row
  ul.itemCards.col-md-3(ng-repeat='item1 in userItems | filter: "!"+user._id')
    li: img.user-item-img(src='{{item1.image}}')
    li.itemName {{item1.name}}
    li Year: {{item1.year}}
    li ${{item1.cost}}
    li
      select.form-control(name='swapItem', ng-model='selectedSwap' ng-change='swapChosen(selectedSwap, item1._id)')
        option(value='') Swap Item
        option(value='{{item2._id}}' ng-repeat='item2 in userItems | filter: user._id') {{item2.name}}

.row
  button.btn.btn-primary.col-md-2.col-md-offset-5(type='button' ng-click='swapItems()') Swap Items!
        
  
